<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Oh Gnarly</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/css/site.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
<section class="main-app-shell">
    <div id="pageBody">
        <div class="heading-space"></div>
        <div id="siteHeader">
            <div id="headerContent">
                <a>
                    <img src="static/ohGnarlyLogo.png" alt="" id="siteLogo">
                </a>
            </div>
        </div>
        <div class="contentLogoContainer">
            <a>
                <img class="contentLogo" src="static/KillBillbloodsplatterbanner.jpg">
            </a>
        </div>
        <div class="contentContainter">
            <div class="leftNav">
                <img src="static/leftNav1.png" class="leftNavAd"/>
                <span style="height: 100px; display: block;"></span>
                <img class="leftNavAd" src="static/leftNav2.png"/>
            </div>
            <div class="pageContent">
            </div>
            <div class="rightNav">
                <img class="rightNavAd" src="static/rightNav.png"/>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
</body>
</html>
